host    all             all             172.17.0.0/16           trust
host    gitlabhq_production  git        172.17.0.80/16          trust

local   all             all                                     trust

host    all             all             127.0.0.1/32            trust
host    all             all             ::1/128                 trust

host    all             all             0.0.0.0/0               trust
host    all             all             127.0.0.1/0             trust

host    all             all             172.17.0.0/16           trust
host    gitlabhq_production  git        172.17.0.80/16          trust
